{% load i18n %}{% autoescape off %}
{% blocktrans %}Welcome to Zahaya.{% endblocktrans %}

{% trans "Please go to the following page to activate the account and choose a new password:" %}
    {% block reset_link %}

        {{ domain }}{% url 'activation_confirm' uidb64=uid token=token %}

    {% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Zahaya team{% endblocktrans %}

{% endautoescape %}